.container {
    padding: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    width: 400px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px
}